#order_placeholder{
	z-index: 900;
	position: relative;
	display: none;
    visibility: hidden !important;
}
.order_active #order_placeholder {
    visibility: visible !important;
}
#order{
	position: absolute;
	top: 0;
	bottom: 0;	
	left: 0px;
	z-index: 5;
	background-color: #fff;
	width: 680px;
	-moz-transform: translateX(-650px);
	-webkit-transform: translateX(-650px);
	-o-transform: translateX(-650px);
	-ms-transform: translateX(-650px);
	transform: translateX(-650px);
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	-webkit-box-shadow: 5px 0 5px 0 rgba(1,1,1,0.1);
    visibility: hidden !important;
}
.order_active #order {
    visibility: visible !important;
}
#order_place .close{
	width: 60px;
	height: 60px;
	background-color: #fafafa;
	position: absolute;
	top: 0;
	right: -60px;
	-webkit-box-shadow: 5px 0 5px 0 rgba(1,1,1,0.1);
	box-shadow: 5px 0 5px 0 rgba(1,1,1,0.1);
    cursor: pointer;
}
#order_place .brif{
    text-align: center;
}
#order_place {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 101px;
    z-index: 700;
    overflow: hidden;
}
#order_place .one_more{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

}

.form_row input, .form_row textarea{
    text-align: left;
}
#order_place .overflow{
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
#order h2{
    width: auto;
    color: #4a4a4a;
    text-align: left;
}
#order h2, #order .sub_header{
	/*width: 515px;	*/
    width: auto;
	text-align: left;	
}
#order .sub_header{
    padding-top: 15px;
}

/*.form_row.error label{
	color: #fa5e5e;
}*/
#order form{
	padding-top: 15px;	
}
.form_row{
	padding-top: 20px;	
	margin-bottom: 10px;
}
#order .dropzone{
    background-color: transparent;
	border:none;
    border: 1px dashed #d5d5d5;
}

#order .g-recaptcha{
	/*-moz-transform: scale(0.77);
	-webkit-transform: scale(0.77);
	-o-transform: scale(0.77);
	-ms-transform: scale(0.77);*/
	/*transform: scale(0.55);	*/
}
#order .dropzone.dz-started .dz-message{
	display: flex;
	
}
#order .dropzone{
	min-height: 50px;	
}
#order .dz-default.dz-message{
	text-align: left;
	margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#order .dz-default.dz-message .t{
    color: #949494;
}

#order .dz-default.dz-message > *:last-child{
	margin-left: 15px;
    max-width: 260px;
}
#order .dz-default.dz-message svg{
	display: block;
}
#order .dropzone .dz-preview{
	border:1px solid #222;
	min-height:0px;
	margin: 19px 15px 0px 15px;
	opacity: 1 !important;
}
#order .dropzone .dz-preview .dz-details{
	opacity: 1 !important;
}
#order .dropzone .dz-preview.dz-error{
	border:1px solid #fa5e5e;
}
#order .dropzone{
	text-align: center;	
}
#order .dz-started .dz-message{
	border-bottom: 1px solid #d5d5d5;
    padding-bottom: 17px;
    display: flex;
    align-items: flex-start;
}
#order .dropzone .dz-preview .dz-details{
	position: relative;
	padding:4px 10px;
}
#order .dropzone  .dz-progress{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 2px;
	width: 100%;
	top: auto;
	margin: 0;
}
#order .dropzone .dz-filename{
	display: inline-block;
	vertical-align: middle;
}
#order .dropzone .dz-filename > *{
	display: inline-block;
	vertical-align: middle;	
}
#order .dropzone .dz-remove{
	width: 12px;
	height: 12px;
	background-image:url(img/remove_file.svg);
	background-repeat: no-repeat;
}
#order .dropzone .dz-preview.dz-error .dz-remove{
	background-image:url(img/remove_file_error.svg);
}
#order .dropzone .dz-preview .dz-error-message{
	top: 40px;
	width: 205px;
	border-radius: 0px;
	background:#fa5e5e;
	left: 50%;
    margin-left: -102px;
	padding: 12px 10px;
	padding-top: 16px;
}
#form_send .icon{

    padding-bottom: 50px;
}
#form_send .icon svg{
    margin: 0;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
.menu-text-color-white #form_send .icon svg path{
    stroke:white;
}

#order .dropzone .dz-preview .dz-error-message:after{
	border-bottom-color: #fa5e5e;
    left: 50%;
    margin-left: -6px;
}
#order .dropzone .dz-name, #order .dropzone .dz-name:hover{
	padding: 0;
	margin: 0;
	color: #222;
	border:none;
	padding-bottom: 1px;
	margin-right: 7px;
    max-width: 150px;
    overflow: hidden;
}
#order .dropzone .dz-preview.dz-error .dz-name, #order .dropzone .dz-preview.dz-error .dz-name:hover{
	color: #f95e5e;
}
#order #bottom_place{
	margin-top: 15px;
	position: relative;
	height: 75px;
}

#order .captcha_place{
	width: 301px;
	height: 75px;	
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fafafa;
	border-radius:3px;
	/*opacity: 0;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	border-radius:3px;*/
}
/*#order .captcha_place.show{
	opacity: 1;
}*/
/*#order #order_send{
	height: 78px;
	position: absolute;
	top: 0;
	right: 0;
    width: 283px;
}*/
/*#order #order_send div{
	background-color: #fafafa;
	padding-left: 15px;
	padding-right: 15px;
	height: 74px;
	border:1px solid rgba(0,0,0,0);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}*/
/*#order #order_send button{
	margin-top: 16px;	
}*/
#order  .files_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#order  .files_wrap .brif{
    padding-left: 15px;
    min-width: 100px;
}
#order ul{
    list-style: none;
}
#order  .files_wrap .brif a{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#order  .files_wrap .brif a p{
    padding-top: 10px;
}
#order .bxbc{
    display: none;
}
#order  .files_wrap .dropzone{
    width: 100%;
}
#order_place{
	visibility: hidden;	
}
.order_active #order_place{
	visibility: visible;	
}

.order_active #order_place .overflow{
	opacity: 1;	
}
.order_active #order{
	-moz-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}
#order_place form{
    width: auto;
}
#order .dz-conteiner{

}
#order .dz-conteiner{
}


#order .error ::-webkit-input-placeholder{
	color:#fa5e5e;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
#order .error ::-moz-placeholder{
	color:#fa5e5e;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
#order .error :-moz-placeholder{
	color:#fa5e5e;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
#order .error :-ms-input-placeholder{
	color:#fa5e5e;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

#order .form-error{
    background-color: #fa5e5e;
    color:white;
    padding: 5px 10px;
    z-index: 1000;
    -webkit-box-shadow: 5px 2px 5px 0 rgba(1,1,1,0.1);
    box-shadow: 5px 2px 5px 0 rgba(1,1,1,0.1);
    margin-top: 15px;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
#order .errors{
	background-color: #fa5e5e;
	color:white;
	padding: 2px 10px;
    padding-bottom: 3px;
	position: absolute;
	right: 0;
	z-index: 1000;
	white-space: nowrap;
	-webkit-box-shadow: 5px 2px 5px 0 rgba(1,1,1,0.1);
	box-shadow: 5px 2px 5px 0 rgba(1,1,1,0.1);
	opacity: 0;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	visibility:hidden;
    font-size: 12px;
}
#order .form_row.error .errors{
	opacity: 1;
	visibility:visible;
}
#order .captcha_place.error .errors{
	opacity: 1;
    right: 0;
	visibility:visible;
}
/*#order .errors:before{
	content:'';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 6px 0;
	border-color: transparent #fa5e5e transparent transparent;
	top: 50%;
	margin-top: -6px;
	left: -6px;

}*/

#order .captcha_place .errors{
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    bottom: 0;
	position: absolute;	
}

#order_scroll{
	position: absolute;	
	left: 1px;
}
#order_wrapper{
	position: absolute;
	top: 0;
	right: 35px;
	bottom: 0;
	left: 35px;	
	overflow:visible !important;
}
.order_padding{
	padding-top: 35px;
	padding-bottom: 35px;	
}
#order input, #order textarea{
    background-color: transparent;
}
#order_place .close,
#order_place .one_more,
#order h2,
#order .sub_header
{
    -webkit-transition: color,background-color 650ms ease-in-out;
    -moz-transition: color,background-color 650ms ease-in-out;
    -ms-transition: color,background-color 650ms ease-in-out;
    -o-transition: color,background-color 650ms ease-in-out;
    transition: color,background-color 650ms ease-in-out;
}

#order_place .close svg{
	display: inline-block;
	clear: both;
	float: none;
	position: absolute;
	top: 15px;
	left: 15px;	
}
.additional_info .sub_header{
    padding-bottom: 25px;
}
/*
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-5px);
  }

  20% {
    transform: translateX(5px);
  }
  
  30% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }
  
  60% {
    transform: translateX(5px);
  }

  70% {
    transform: translateX(-5px);
  }
  
  80% {
    transform: translateX(5px);
  }

  90% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

#order .captcha_place.error{
	-webkit-animation: shake 1s ease-in-out;
    -moz-animation: shake 1s ease-in-out;
    -ms-animation: shake 1s ease-in-out;
    -o-animation: shake 1s ease-in-out;
    animation: shake 1s ease-in-out;	
}

*/



/*     mobile tablet     */
@media (min-width: 0px) and (max-width: 767px) {
	#order_placeholder{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        visibility: visible;
        -moz-transform: translateX(0) translateY(-100%);
        -webkit-transform: translateX(0) translateY(-100%);
        -o-transform: translateX(0) translateY(-100%);
        -ms-transform: translateX(0) translateY(-100%);
        transform: translateX(0) translateY(-100%);
        -webkit-transition: all 450ms ease-in-out;
        -moz-transition: all 450ms ease-in-out;
        -ms-transition: all 450ms ease-in-out;
        -o-transition: all 450ms ease-in-out;
        transition: all 450ms ease-in-out;
        background-color: #fff;
        overflow: auto;
	}
    #form_send .icon{
        display: flex;
        justify-content: center;
    }
    .additional_info{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .additional_info .sub_header .phone, .additional_info .sub_header .email{
        padding: 5px;
    }
    #order{
         -webkit-box-shadow: none;
         box-shadow: none;
    }
    #order .additional_info > *{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    #order_placeholder > *{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .order_active #order_placeholder{
        -moz-transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    #order_place{
        position: relative;
        left:auto;
        top:auto;
        right:auto;
        bottom:auto;
        visibility: visible;
    }
    html.order_active{
        overflow: hidden;
    }
    #order_place .one_more{

    }
    #order_place #order_wrapper{
        padding-left: 0px;
        padding-right: 0px;
        width: auto;
    }
    #order_place .one_more{
        position: relative;
    }
    .order_active #order_place, #order_place, .order_active #order, #order{
        -moz-transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    #order_wrapper form{
        padding-left: 20px;
        padding-right: 20px;
    }


	#order, #order_wrapper, #order .slide{
		position: relative;
		width: 100%;	
		left: 0;
		right: 0;
	}

    #order_place .overflow{
        display: none;
    }
}



@media (min-width: 0px) and (max-width: 767px) {

    .order_active #work_area {
        min-height: 0px;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }

    /*#order > div:first-child{
        display: none;
    }*/
    .order_active #main_conteiner .slide {
        /*position: relative;	*/
    }
    .order_active #order_place{
        overflow: auto;
    }
    .order_active #order_place .overflow {
        position: absolute;
        top: 0;
    }

    body #order_place .close {
        background-color: #fafafa;
        width: 100%;
        height: 55px;
        min-height: 0;
        position: relative;
        right: auto;
        text-align: center;
    }

    body #order_place  .close svg {
        position: relative;
        top: 0;
        margin-top: 13px;
        margin-left: -25px;
    }

    #order_place {
        /*padding-top: 55px;	*/
        z-index: 5;
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
    }

    body #order .captcha_place {
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
        -o-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
    }

    body #order .sub_header, body #order form, body #order h2 {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .order_active #mobile_wrapper > div > div:first-child {
        max-height: 2000px;
    }

    body #order input, body #order textarea {
        -webkit-box-sizing: border-box;
        ‌-moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body #order .form_row.error .errors {
        position: relative;
        margin-top: 0;
        text-align: center;
        left: 0;
        display: block;
    }

    body #order .captcha_place.error .errors {
        position: relative;
        text-align: center;
        left: 0;
        top: 0;
        display: block;
        -moz-transform: translateY(0%);
         -webkit-transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
         transform: translateY(0%);
    }

    .form_row.error {
        padding-top: 0;
    }

    body #order .errors {
        position: relative;
        margin-top: 0 !important;
        text-align: center;
        opacity: 1;
        left: 0;
        display: none;
    }

    body #order .errors:before {
        display: none;
    }

    #order form {
        overflow: hidden;
    }

    body #order_wrapper {
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }
    #order  .files_wrap{
        display: block;
    }

    #order  .files_wrap .brif{
        padding-top: 15px;
        padding-left: 0;
    }
    #order  .files_wrap .brif a{
        display: block;
    }
    #order  .files_wrap .brif a > *{
        display: inline-block;
        vertical-align: middle;
    }
    #order  .files_wrap .brif a p{
        padding-top: 0;
        padding-left: 10px;
    }
    #order .files_wrap{
        display: none;
    }
    /*#order_place {

        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        position: absolute;
        top: 0;
    }

    .order_active #order_place {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        position: relative;
    }

    .order_active #order_place {
        display: block;
    }*/

    body #order #bottom_place {
        height: auto;
    }

    body #order .captcha_place {
        position: relative;
        margin: 0px auto;
        height: auto;
        width: auto;
    }

    body #order #order_send div {
        padding: 0;
        height: auto;
        background: none;
        padding-top: 15px;
    }

    body #order #order_send {
        position: relative;
        height: auto;
        width: auto;
    }

    body #order #order_send button {
        margin: 0;
    }

}

@media (min-width: 768px) and (max-width: 1500px) {
    #order{
        width: 580px;
    }
    #order #order_send {
        width: 198px;
    }
}





/*

color change

*/

.menu-text-color-white #order_place .one_more{
    background-color: #222222;
    color:white;
}
.menu-text-color-white #order_place  .close{
    background-color: #313131;
}

.menu-text-color-white #order_place .one_more h2{
    color:white;
}

.menu-text-color-white #order .form_row input{
    border-bottom: 1px solid white;
    color:white;
}
.menu-text-color-white #order .form_row textarea{
    border: 1px solid white;
    color:white;
}
.menu-text-color-white #order .form_row input:focus{
    border-bottom: 1px solid #a8a8a8;
    color:white;
}
.menu-text-color-white #order .form_row textarea:focus{
    border: 1px solid #a8a8a8;
    color:white;
}


/*#order div, #order p{
    -webkit-transition: all 650ms ease-in-out;
    -moz-transition: all 650ms ease-in-out;
    -ms-transition: all 650ms ease-in-out;
    -o-transition: all 650ms ease-in-out;
    transition: all 650ms ease-in-out;
}*/

.menu-text-color-white #order #file path,
.menu-text-color-white #order .brif path
{
    -webkit-transition: all 650ms ease-in-out;
    -moz-transition: all 650ms ease-in-out;
    -ms-transition: all 650ms ease-in-out;
    -o-transition: all 650ms ease-in-out;
    transition: all 650ms ease-in-out;
}
.menu-text-color-white #order #file path,
.menu-text-color-white #order .brif path
{
    fill:white;
}


/*color fix*/
.menu-text-color-white #order .btn.solid-lines-in{
    background-color: white;
    color: #222;
}
.menu-text-color-white #order .btn.solid-lines-in:before,.menu-text-color-white #order .btn.solid-lines-in:after{
    border-color: #222;
}
.menu-text-color-white #order a.link{
    border-color:white;
}
